/* .container {
    width: 1300px;
    margin: 0 auto;
}

/* main Start */
/* #main {
    position: relative;
} */

/* main3 Start {farhad} */
/* .main3-L,
.main3-C-L,
.main3-C-R,
.main3-R {
    display: inline-block;
    width: 300px;
    position: relative;
    margin-right: 10px;
}

#main3 img {
    width: 300px;
    height: 320px;
}

#main3 span:first-of-type a:hover {
    background-color: white;
    color: black;
}

#main3 span:last-of-type a:hover {
    background-color: rgba(75, 75, 220, 0.84);
    color: rgba(255, 255, 255, 0.938);
}

#main3 span:first-of-type a {
    color: rgba(0, 0, 0, 0.728);
    background-color: rgba(240, 248, 255, 0.763);
    display: block;
    position: absolute;
    bottom: 0;
    font-weight: bold;
}

#main3 span:last-of-type a {
    position: absolute;
    bottom: 38px;
    left: 0;
    background-color: rgba(75, 75, 220, 0.68);
    font-weight: bold;
    padding: 10px;
    color: rgba(255, 255, 255, 0.847);
} */

/* main3 End {farhad} */

/* #submit {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgba(80, 80, 255, 0.596);
}
#submit:hover{
    background-color: rgba(80, 80, 255, 0.838) ;
}
.MORE-STORIES{
    background-color: rgba(80, 80, 255, 0.596) ;
    border: none;
    color: antiquewhite;
    font-size: 20px;
    font-weight: bold;
} */
/* main End */

/* foooter Start */
/* #footer {
    padding:20px 8px 38px 8px;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    width: 100%;
 }

 #footer a img {
    width: 95px;
    float: left;
 }

 #footer span {
    color: #fff;
    display: block;
    width: 500px;
    font-weight: bold;
    font-size: 14px;
 }

 .footer-link a {
    text-align: right;
    font-size: 14px;
    font-weight: bold;
    margin-left: 30px;
    float: right;
   color: rgb(93, 128, 185);
 }
 .footer-link a:hover{
   text-decoration: underline;
 } */

 /* footer End */ 