.container {
  width: 1400px;
  height: 1800px;
  margin: 0 auto;
  
  position: relative;
}


.main div {
  display: inline-block;
  vertical-align: top;
}
/* main1..................... */
.main1-L,
.main1-top-L,
.main1-top-R,
.main1-R-bottom {
  position: relative;
  margin-right: 15px;
  margin-bottom: 15px;
}

.main1-L a img {
  width: 685px;
  height: 610px;
}

.main1-L a span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.822);
  padding: 13px;
  text-decoration: none;
  color: #000;
  font-size: 20px;
  font-weight: bold;
}

.main1-L a:last-of-type {
  position: absolute;
  left: 0;
  bottom: 50px;
  text-decoration: none;
  color: #fff;
  background-color: rgba(64, 64, 216, 0.685);
  padding: 9px;
  font-weight: bold;
  font-size: 17px;
}

.main1-L a span:hover {
  background-color: rgba(255, 255, 255, 0.941);
}

.main1-L a:last-of-type:hover {
  background-color: rgba(64, 64, 216, 0.861);
}

.main1-top-L a img {
  width: 330px;
  height: 300px;
}

.main1-top-L a span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.822);
  text-decoration: none;
  color: #000;
  font-size: 19px;
  font-weight: bold;
}

.main1-top-L a span:hover {
  background-color: rgba(255, 255, 255, 0.941);
}

.main1-top-R {
  width: 300px;
  height: 300px;
  background-color: rgb(83, 83, 227);
  font-size: 13px;
  color: #fff;
}

.main1-top-R div {
  display: block;
  margin: 4px 10px 8px 10px;
}

.main1-top-R div:first-of-type {
  border-bottom: 1px solid #fff;
}

.main1-top-R div a {
  text-decoration: none;
  width: 500px;
}

.main1-top-R div:last-of-type {
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
  display: inline-block;
  width: 280px;
  border-top: 1px solid #fff;
  text-align: center;
}

.main1-top-R div:last-of-type a:first-of-type {
  width: 40%;
  float: left;
}

.main1-top-R div:last-of-type a:last-of-type {
  width: 49%;
  float: right;
}

.main1-top-R div a:hover {
  text-decoration: underline;
}

.main1-R-bottom a img {
  width: 653px;
  height: 290px;
}

.main1-R-bottom {
  margin-left: 50.3%;
  margin-top: -22.1%;
}

.main1-R-bottom a span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 14px;
  background-color: rgba(255, 255, 255, 0.822);
  text-decoration: none;
  color: #000;
  font-size: 19px;
  font-weight: bold;
}

.main1-R-bottom a:last-of-type {
  position: absolute;
  left: 0;
  bottom: 50px;
  font-size: 17px;
  padding: 20px;
  text-decoration: none;
  color: #fff;
  background-color: rgba(64, 64, 216, 0.685);
  padding: 9px;
  font-weight: bold;
}

.main1-R-bottom a span:hover {
  background-color: rgba(255, 255, 255, 0.941);
}

.main1-R-bottom a:last-of-type:hover {
  background-color: rgba(64, 64, 216, 0.861);
}

/* main2............................................... */

.main2 div {
  display: inline-block;
  position: relative;
  margin-right: 15px;
}

.main2L img {
  width: 325px;
  height: 300px;
}

.main2L a span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.822);
  padding: 13px;
  text-decoration: none;
  color: #000;
  font-size: 20px;
  font-weight: bold;
}

.main2L a span:hover {
  background-color: rgba(255, 255, 255, 0.941);
}

.main2M img {
  width: 670px;
  height: 300px;
}

.main2M a span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.822);
  padding: 13px;
  text-decoration: none;
  color: #000;
  font-size: 20px;
  font-weight: bold;
}

.main2M a span:hover {
  background-color: rgba(255, 255, 255, 0.941);
}

.main2M a:last-of-type {
  position: absolute;
  left: 0;
  bottom: 70px;
  text-decoration: none;
  color: #fff;
  background-color: rgba(64, 64, 216, 0.685);
  padding: 9px;
  font-weight: bold;
  font-size: 17px;
}

.main2M a:last-of-type:hover {
  background-color: rgba(64, 64, 216, 0.861);
}

.main2R {
  width: 325px;
  height: 304px;
}

.main2R img {
  width: 100%;
  height: 100%;
  position: relative;
}

.main2R a span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.822);
  padding: 13px;
  text-decoration: none;
  color: #000;
  font-size: 20px;
  font-weight: bold;
}

.main2R a span:hover {
  background-color: rgba(255, 255, 255, 0.941);
}

.main2R a:last-of-type {
  position: absolute;
  left: 0;
  bottom: 92px;
  text-decoration: none;
  color: #fff;
  background-color: rgba(64, 64, 216, 0.685);
  padding: 9px;
  font-weight: bold;
  font-size: 17px;
}

.main2R a:last-of-type:hover {
  background-color: rgba(64, 64, 216, 0.861);
}

/* main3............................................... */

.main3 div {
  margin-right: 15px;
  margin-top: 20px;
}

.main3L1,
.main3L2,
.main3R2,
.main3R1 {
  position: relative;
  width: 325px;
  height: 300px;
}

.main3 img {
  width: 100%;
  height: 100%;
}

.main3L1 a span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.822);
  padding: 13px;
  text-decoration: none;
  color: #000;
  font-size: 20px;
  font-weight: bold;
}

.main3L1 a span:hover {
  background-color: rgba(255, 255, 255, 0.941);
}

.main3L1 a:last-of-type {
  position: absolute;
  left: 0;
  bottom: 69px;
  text-decoration: none;
  color: #fff;
  background-color: rgba(64, 64, 216, 0.685);
  padding: 9px;
  font-weight: bold;
  font-size: 17px;
}

.main3L1 a:last-of-type:hover {
  background-color: rgba(64, 64, 216, 0.861);
}

.main3L2 a span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.822);
  padding: 13px;
  text-decoration: none;
  color: #000;
  font-size: 20px;
  font-weight: bold;
}

.main3L2 a span:hover {
  background-color: rgba(255, 255, 255, 0.941);
}

.main3L2 a:last-of-type {
  position: absolute;
  left: 0;
  bottom: 92px;
  text-decoration: none;
  color: #fff;
  background-color: rgba(64, 64, 216, 0.685);
  padding: 9px;
  font-weight: bold;
  font-size: 17px;
}
.main3L2 a:last-of-type:hover {
  background-color: rgba(64, 64, 216, 0.861);
}
.main3R1 a span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.822);
  padding: 13px;
  text-decoration: none;
  color: #000;
  font-size: 20px;
  font-weight: bold;
}

.main3R1 a span:hover {
  background-color: rgba(255, 255, 255, 0.941);
}

.main3R1 a:last-of-type {
  position: absolute;
  left: 0;
  bottom: 92px;
  text-decoration: none;
  color: #fff;
  background-color: rgba(64, 64, 216, 0.685);
  padding: 9px;
  font-weight: bold;
  font-size: 17px;
}

.main3R1 a:last-of-type:hover {
  background-color: rgba(64, 64, 216, 0.861);
}

.main3R2 a span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.822);
  padding: 13px;
  text-decoration: none;
  color: #000;
  font-size: 20px;
  font-weight: bold;
}

.main3R2 a span:hover {
  background-color: rgba(255, 255, 255, 0.941);
}

.main3R2 a:last-of-type {
  position: absolute;
  left: 0;
  bottom: 92px;
  text-decoration: none;
  color: #fff;
  background-color: rgba(64, 64, 216, 0.685);
  padding: 9px;
  font-weight: bold;
  font-size: 17px;
}

.main3R2 a:last-of-type:hover {
  background-color: rgba(64, 64, 216, 0.861);
}

/* ................................................................................... */

.more-stories {
  background-color: rgba(64, 64, 207, 0.658);
  position: absolute;
  top: 1090px;
  width: 99%;
  padding: 13px;
  color: rgba(255, 255, 255, 0.84);
  font-size: 17px;
  font-weight: 600;
  margin-left: 38px;
}

.more-stories:hover {
  background-color: rgb(104, 104, 177);
  color: rgba(255, 255, 255, 0.84);
}

#more-stories{
  display: block;
  margin-top: 30px;
}
#more-stories input{
  width: 1360px;
  padding: 20px;
  background-color: rgb(67, 67, 234);
  color: #fff;
  font-size: 27px;
  font-weight: bold;
  border: none;
}
#more-stories input:hover{
  background-color: rgb(94, 94, 236);
}
/* foooter Start */
#footer {
  padding: 20px 8px 0 8px;
  font-family: Arial, Helvetica, sans-serif;
  width: 1350px;
  position: relative;
}

.footer-L a img {
  width: 95px;
  float: left;
}
.footer-L{
  padding: 20px 0 30px 0;
}
.footer-L span {
  color: #fff;
  display: block;
  font-weight: bold;
  font-size: 14px;
}
.footer-link{
  padding: 30px 0 20px 0;
}
.footer-link a {
  float: right;
  font-size: 14px;
  font-weight: bold;
  margin-left: 30px;
  color: rgb(93, 128, 185);
}

.footer-link a:hover {
  text-decoration: underline;
}
/* footer End */