body{
    background-color: #000;
    margin: 0;
    font-family: "Titillium Web", "Helvetica Neue", "Helvetica", Arial, sans-serif;
}
a{
text-decoration: none;
color: #fff;
}
ul {
    list-style: none;
}
#header{
    position: relative;
    background-image: url(img/back-header.jpg);
    padding-bottom: 20px;
}
#header img:first-of-type{
display: inline-block;
margin-top: 20px;
margin-left: 20px;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
#first-menu{
    /* background-color: aquamarine; */
    margin: 0 auto;
    position: absolute;
    padding: 0;
    top: 5px;
    left: 14%;
} 

/* hover bede */
#first-menu-option>li{
    display: inline-block;
    position: relative;
border-right: 1px solid #fff;
    padding: 15px 6px;
}
#first-menu-option>li:hover{
    background-color: #1e5283;
}
#first-menu-option>li:hover ul{
    visibility: visible;
}


/* fasele bede */
.sub-menu{
   background-color: #0c60af;
    position: absolute;
    visibility: hidden;
    padding-right: 20px;
    top: 53px;
    padding: 0 20px 0 0;
}
#first-menu-option li>ul li{
    padding: 0 40px;
}
#first-menu-option li>ul li:hover{
    background-color: #1f6bb3;
}
#first-menu >ul li:last-of-type{
    border: none;
}
#first-menu >ul li a{
    font-size: 19px;
}
.inputsearch{
    border: none;
    background-color:#b2b2b210;
    height: 30px;
    font-family:  "Titillium Web", "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 15px;
    position: relative;
    width: 120px;
}

.search-btn{
    border: none;
    background-color: #b2b2b210;
    padding:4px 10px;
   
    vertical-align: middle;
    cursor: pointer;
    position: relative;
}


.share-btn{
   width: 28px;
   height: 28px; 
   vertical-align: middle;
   cursor:pointer ;
}

    #links{
        text-decoration: none;
        color: rgb(241, 241, 241);
        background-color: rgba(138, 138, 138, 0.548);
        padding: 6px 10px;
        display: inline;
        text-align: center;
        font-size: 12px;
        font-family: "Titillium Web", "Helvetica Neue", "Helvetica", Arial, sans-serif;
        margin: 200px;
    }
    .link1{
        
        border-right: 1px solid #fff;
        
        padding: 4px 6px;
        font-family: "Titillium Web", "Helvetica Neue", "Helvetica", Arial, sans-serif;
        
    }
    .link2{
        
        border-right: 1px solid #fff;
        
        padding: 4px 6px;
       font-family: "Titillium Web", "Helvetica Neue", "Helvetica", Arial, sans-serif;
       
    }
    .link3{
        
        border-right: 1px solid #fff;
        
        padding: 4px 6px;
       font-family: "Titillium Web", "Helvetica Neue", "Helvetica", Arial, sans-serif;
       
    }
    .link4{
        
        border-right: 1px solid #fff;
        
        padding: 4px 6px;
       font-family: "Titillium Web", "Helvetica Neue", "Helvetica", Arial, sans-serif;
       
    }
    .link5{
        
        border-right: 1px solid #fff;
        
        padding: 4px 6px;
       font-family: "Titillium Web", "Helvetica Neue", "Helvetica", Arial, sans-serif;
    
    }
    .link6{
        
        border-right: 1px solid #fff;
        
        padding: 4px 6px;
       font-family: "Titillium Web", "Helvetica Neue", "Helvetica", Arial, sans-serif;
       
    }
    .link7{
        
        border-right: 1px solid #fff;
        
        padding: 4px 6px;
       font-family: "Titillium Web", "Helvetica Neue", "Helvetica", Arial, sans-serif;
       
    }
    .link8{
        
        border-right: 1px solid #fff;
        
        padding: 4px 6px;
       font-family: "Titillium Web", "Helvetica Neue", "Helvetica", Arial, sans-serif;
       
    }
    .link9{
     
        
        
        padding: 4px 6px;
       font-family: "Titillium Web", "Helvetica Neue", "Helvetica", Arial, sans-serif;
       
    }
  .link1 a:hover{
    background-color: rgba(255, 255, 255, 0.500);
   }
   .link2 a:hover{
    background-color: rgba(255, 255, 255, 0.500);
   }
   .link3 a:hover{
    background-color: rgba(255, 255, 255, 0.500);
   }
   .link4 a:hover{
    background-color: rgba(255, 255, 255, 0.500);
   }
   .link5 a:hover{
    background-color: rgba(255, 255, 255, 0.500);
   }
   .link6a:hover{
    background-color: rgba(255, 255, 255, 0.500);
   }
   .link7 a:hover{
    background-color: rgba(255, 255, 255, 0.500);
   }
   .link8 a:hover{
    background-color:  rgba(255, 255, 255, 0.500);
   }
   .link9 a:hover{
    background-color: rgb(255, 255, 255);
   }
   #links a:hover{
    background-color: gray;
   }
