body{
    background-color: #000;
    margin: 0;
    font-family: "Titillium Web", "Helvetica Neue", "Helvetica", Arial, sans-serif;
}
a{
text-decoration: none;
color: #fff;
}
ul {
    list-style: none;
}
#header{
    position: relative;
    background-image: url(img/back-header.jpg);
    padding-bottom: 20px;
}
#header img:first-of-type{
display: inline-block;
margin-top: 20px;
margin-left: 20px;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
#first-menu{
    /* background-color: aquamarine; */
    margin: 0 auto;
    position: absolute;
    padding: 0;
    top: 5px;
    left: 14%;
} 

/* hover bede */
#first-menu-option>li{
    display: inline-block;
    position: relative;
border-right: 1px solid #fff;
    padding: 15px 6px;
}
#first-menu-option>li:hover{
    background-color: #1e5283;
}
#first-menu-option>li:hover ul{
    visibility: visible;
}


/* fasele bede */
.sub-menu{
   background-color: #0c60af;
    position: absolute;
    visibility: hidden;
    padding-right: 20px;
    top: 53px;
    padding: 0 20px 0 0;
}
#first-menu-option li>ul li{
    padding: 0 40px;
}
#first-menu-option li>ul li:hover{
    background-color: #1f6bb3;
}
#first-menu >ul li:last-of-type{
    border: none;
}
#first-menu >ul li a{
    font-size: 19px;
}
.inputsearch{
    border: none;
    background-color: rgba(190, 190, 190, 0.767);
    height: 30px;
    font-family:  "Titillium Web", "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 15px;
}
.inputsearch:hover{
box-shadow:  3px 5px  3px rgb(252, 242, 242);
background-color: rgba(255, 255, 255, 0.863);
}
.search-btn{
    border: none;
    background-color: rgba(207, 207, 207, 0.884);
    padding:3px 7px;
    border-radius: 3px;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
}
.search-btn:hover{
    box-shadow: 3px 5px 3px rgba(241, 233, 115, 0.918);
}

.share-btn{
   width: 28px;
   height: 28px; 
   vertical-align: middle;
   cursor:pointer ;
}